body {
  font-family: Arial, sans-serif;
}

#employeeTable {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#scheduleTable {
  margin-top: 20px;
}

#scheduleTable table {
  border-collapse: collapse;
  width: 100%;
}

#scheduleTable table, #scheduleTable th, #scheduleTable td {
  border: 1px solid #ddd;
}

#scheduleTable th, #scheduleTable td {
  padding: 10px;
  text-align: center;
}

#scheduleTable th {
  background-color: #f2f2f2;
}

